.section-banner {
    width                : 100%;
    display              : flex;
    flex-direction       : column;
    align-items          : center;
    text-align           : center;
    color                : var(--white);
    min-height           : 100vh;
    background-image     : url('../media/background-1.webp');
    background-repeat    : no-repeat;
    background-position  : 90% 10%;
    background-attachment: fixed;
    background-size      : cover;
    position             : relative;
    overflow             : hidden;
}

.section-banner .background-color {
    width           : 100%;
    height          : 100%;
    position        : absolute;
    top             : 0;
    right           : 0;
    left            : 0;
    background-color: rgba(245, 134, 150, 0.9);
    z-index         : 1;
}

.section-banner nav {
    width           : 100%;
    display         : flex;
    justify-content : center;
    background-color: transparent;
    padding         : 20px;
    z-index         : 2;
    text-shadow     : 1px 1px 2px rgb(70, 70, 70);
}

nav ul {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    height         : 100%;
}

nav ul div:nth-child(2) {
    display: flex;
    height : 100%;
}

nav ul .logo {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

nav ul .logo img {
    max-width: 180px;
}

nav li {
    padding: 18px 20px;
    height : 100%;
}

.section-banner .div-banner {
    display        : flex;
    flex           : 1;
    justify-content: center;
    align-items    : center;
    width          : 100%;
    padding        : 20px 20px;
    z-index        : 2;
    text-shadow    : 1px 1px 2px rgb(71, 71, 71);
}

.section-banner .div-banner div {
    display    : flex;
    align-items: center;
}

.section-banner .div-banner div div:first-child {
    display       : flex;
    flex-direction: column;
}

.div-img-banner img {
    max-width: 600px;
}

.section-1 {
    width           : 100%;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    text-align      : center;
    background-color: var(--primary);
    color           : var(--white);
    padding         : 94px 32px;
}

.section-1 {
    width           : 100%;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    text-align      : center;
    background-color: var(--primary);
    color           : var(--white);
    padding         : 94px 32px;
}

.section-2 {
    width           : 100%;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    text-align      : center;
    background-color: var(--white);
    color           : var(--grey);
    padding         : 94px 32px;
    overflow-x      : hidden;
}

.section-3 {
    width           : 100%;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    text-align      : center;
    background-color: var(--green);
    color           : var(--grey);
    padding         : 94px 32px;
}

.section-4 {
    width           : 100%;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    text-align      : center;
    background-color: var(--tertiary);
    color           : var(--white);
    padding         : 94px 32px;
}

#about {
    overflow-x: hidden;
}

.btn {
    padding      : 14px 22px;
    border-radius: 6px;
    border       : 0;
    cursor       : pointer;
}

.btn-primary {
    background-color: var(--primary);
    color           : var(--white);
}

.btn-primary:hover {
    opacity: 0.9;
}

.btn-secondary {
    background-color: var(--secondary);
    color           : var(--white);
}

.btn-secondary:hover {
    opacity: 0.9;
}

.div-img-thinking {
    width        : 400px;
    height       : 530px;
    overflow     : hidden;
    border-radius: 12px;
}

.div-img-thinking img {
    max-width: 100%;
    width: 500px;
}

div > .div-img-thinking {
    display    : flex;
    align-items: center;
    justify-content: center;
}

.div-cards {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-around;
}

.card {
    display         : flex;
    align-items     : center;
    width           : 250px;
    min-height      : 100px;
    margin          : 15px;
    background-color: var(--white);
    padding         : 18px 24px;
    color           : var(--grey);
    border-radius   : 8px;
    transition      : 0.5s;
    box-shadow      : 1px 3px 4px rgba(0, 0, 0, 0.5);
}

.card:hover {
    color     : grey;
    transition: 0.5s;
}

.div-cards-2 {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-between;
}

.card-2 {
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
    max-width       : 210px;
    min-width       : 210px;
    margin: 8px 0;
    background-color: var(--tertiary);
    color           : var(--white);
    border-radius   : 8px;
    transition      : 0.5s;
    box-shadow      : 1px 3px 4px rgba(0, 0, 0, 0.5);
    overflow        : hidden;
    padding         : 20px;
}

.div-card-3 {
    display: flex;
    justify-content: space-around;
}

.card-3 {
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 16px;
}

.div-cards-4 {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
    position       : relative;
}

.card-4 {
    width        : 260px;
    border-radius: 8px;
    overflow     : hidden;
    position     : relative;
    margin       : 16px;
}

.card-4 img {
    max-width: 100%;
    object-fit:fill;
}

.card-4 .border-name {
    position        : absolute;
    bottom          : 0;
    left            : 0;
    right           : 0;
    padding         : 100px 12px 20px 12px;
    background-image: linear-gradient(transparent, var(--grey));
    z-index         : 1;
    display         : flex;
    flex-direction  : column;
    justify-self    : flex-end;
}

.card-4 .hover-description {
    height          : 100%;
    position        : absolute;
    bottom          : 0;
    left            : 0;
    right           : 0;
    padding         : 20px 12px;
    background-color: var(--green);
    z-index         : 2;
    transition      : 0.3s;
    opacity         : 0;
    display         : flex;
    flex-direction  : column;
    align-items     : space-between;
    justify-content : space-between;
}

.card-4:hover .hover-description {
    transition: 0.3s;
    opacity   : 1;
}

.card-4 .div-social {
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.card-payment {
    padding      : 30px 70px;
    border       : 2px dotted white;
    margin       : 16px;
    border-radius: 8px;
    position     : relative;
    max-width: 500px;

}


.div-lote {
    position        : absolute;
    top             : 20px;
    right           : -2px;
    background-color: white;
    padding         : 5px 8px;
    color           : black;
    border-radius   : 8px 0 0 8px;
}

.div-list {
    display       : flex;
    flex-direction: column;
}

.div-list div {
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin-top     : 8px;
}

/* Acordeon */
.accordion {
    background-color: var(--grey-2);
    cursor          : pointer;
    padding         : 18px;
    width           : 100%;
    border          : none;
    text-align      : left;
    outline         : none;
    font-size       : 15px;
    transition      : 0.4s;
    display         : flex;
    justify-content : space-between;
    border-radius   : 8px;
}

.active,
.accordion:hover {
    background-color: var(--tertiary);
    color           : var(--white);
}

.panel {
    background-color: var(--primary);
    overflow        : hidden;
    height          : 0;
    word-wrap       : none;
    position        : relative;
}

/* div contact */
.div-contact {
    background-color: white;
    color           : var(--primary);
    position        : fixed;
    bottom          : 20px;
    right           : 20px;
    padding         : 23px 23px;
    border-radius   : 50%;
    display         : flex;
    box-shadow      : 2px 2px 5px var(--grey);
    align-items     : center;
    cursor          : pointer;
    transition      : 0.2s;
    z-index         : 10;
}

.div-contact:hover {
    background-color: var(--primary);
    color           : white;
    transition      : 0.2s;
}

.div-contact .div-contact-left {
    flex    : 3;
    overflow: hidden;
    width   : 0;
}

.div-contact .div-contact-right {
    flex: 1;
}

.div-maps iframe {
    width : 390px;
    height: 450px;
}

#glide {
    position: relative;
}

#glide .controls {
    width: 100%;
    position: absolute;
    top:calc(50% - 25px);
    display: flex;
    justify-content: space-between;
}

.glide li {
    width: 100%;
    display: flex;
    justify-content: center;
}

.glide article {
    width: 260px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.glide img {
    width: 260px;
    height: 390px;
    min-height: 390px;
    max-width: 100%;
    object-fit: cover;
}

.controls button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

footer {
    width           : 100%;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    text-align      : center;
    background-color: var(--grey);
    color           : var(--white);
    padding         : 64px 32px;
}

/* preloader */
#loader {
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
}
